*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-grey-light: #eee;

  --color-primary: darkorange;
  --color-primary-light: rgb(250, 158, 45);
  --color-primary-dark: rgb(221, 122, 1);

  --color-secondary: forestgreen;
  --color-secondary-light: rgb(42, 168, 42);
  --color-secondary-dark: rgb(23, 115, 23);
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-grey-light);
}

.cards {
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  width: 80%;
  margin: 3rem auto;
  border: 1px solid black;
  padding: 3rem;

  display: flex;
  justify-content: center;
}

.cards__card {
  background-image: url(img/music-2.jpg);
  background-size: cover;

  
  color: var(--color-grey-light);
  width: 25%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  border-radius: 3px;
}

.cards__card:not(:last-child) {
  margin-right: 3rem;
}

.card__header {
  background-image: linear-gradient(to bottom right, var(--color-primary-light) 0%, var(--color-grey-light) 40%, var(--color-grey-light) 60%, var(--color-primary-dark) 100%);
  -webkit-background-clip: text;
  color: transparent;

  font-size: 3.5rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 1rem .5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.card__icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 2rem;
  fill: currentColor;
}

.card__item {
  display: flex;
  align-items: center;
  padding: .5rem;
}

.card__list {
  list-style: none;
}

.list-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  fill: currentColor;
}

.list-text {
  text-transform: uppercase;
}

