/* GLOBAL RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f7ce14;
  --color-secondary: #7E9DC2;
  --color-dark: #841c18;
  --color-light: #f1f1f1;
  --size: 7.5vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
}

header {
  display: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background: var(--color-primary);
  /* background: linear-gradient(to left, var(--color-primary) 25%, var(--color-dark)); */
}

#header-name {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-dark);
  transition: all 3s ease-out;
  margin-left: 30px;
}

#header-name:hover {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3rem;
  transform: translateY(-3px);
  text-shadow: 1rem 1rem 1.2rem var(--color-dark);
  cursor: default;
}

#nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 30px;
}

#nav-links {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 2px;
  margin-bottom: .3rem;
}

.nav-link {
  padding: 7px 10px;
  margin-left: 1.6rem;
  border: 1px solid var(--color-dark);
  box-shadow: .5rem .5rem 1rem -.2rem var(--color-dark);
}

.nav-link:hover {
  transform: translateY(-3px);
  box-shadow: 1rem 1rem 2rem -.4rem var(--color-dark);
}

.nav-link:active,
.nav-link:focus {
  transform: translateY(-1px);
  box-shadow: .6rem .6rem 1.5rem -.3rem var(--color-dark);
}

a {
  height: 100%;
  text-decoration: none;
  font-weight: 300;
  color: var(--color-dark)
}

#hero {
  border: var(--size) solid var(--color-light);
  padding: var(--size);
  height: calc(100vh - 75px);
  background-color: var(--color-secondary);
}

#hero-container {
  border: var(--size) solid var(--color-light);
  padding: var(--size);
  margin-top: var(--size);
  height: calc(100vh - (var(--size)*4) - 75px);
  /* height: calc(10vh-75px); */
  background-color: var(--color-secondary);
  margin: auto;
}

/* #hero-header-container {
  height: calc(40vh-75px);
  border: 7.5vh solid var(--color-light);
  background-color: var(--color-secondary);
  padding: 7.5vh;
} */

#hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: var(--size);
  padding: 5px;
  padding-left: var(--size);
  text-transform: uppercase;
  font-size: var(--size);
  height: calc(100vh - (var(--size)*8) - 75px);
  color: var(--color-light);
  border: var(--size) solid var(--color-light);
  background-color: var(--color-secondary);
}

@media only screen and (min-aspect-ratio: 125/45) {
  #hero,
  #hero-container, 
  #hero-header {
    background-color: var(--color-light);
    border-color: var(--color-secondary);
    color: var(--color-secondary)
  }
}

@media only screen and (max-aspect-ratio: 113/68) {
  #hero,
  #hero-container, 
  #hero-header {
    background-color: var(--color-dark);
    border-color: var(--color-primary);
    color: var(--color-primary)
  }

  #header {
    background-color: var(--color-light);
  }

  #header-name,
  a {
    color: var(--color-secondary);
  }

  #hero-header {
    letter-spacing: 3.5vh;
    padding-left: 3.5vh;
  }

  #header-name:hover {
    text-shadow: 1rem 1rem 1.2rem var(--color-secondary);
  }

  .nav-link {
    border-color: var(--color-secondary);
    box-shadow: .5rem .5rem 1rem -.2rem var(--color-secondary);
  }
  .nav-link:hover {
    box-shadow: 1rem 1rem 2rem -.4rem var(--color-secondary);
  }
  .nav-link:active,
  .nav-link:focus {
    box-shadow: .6rem .6rem 1.5rem -.3rem var(--color-secondary);
  }
}