/* RESET ALL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS VARIABLES */

:root {
  --body-background: #f5f6f7;
  --header-primary: #0a0a23;
  --header-secondary: #fdb347;
  --header-text: #fff;
  --header-border-size: 4px;
  --padding-large: 32px;
  --padding-small: 10px;
  --gap: 16px;
  --max-width: 1400px;
  --img-width: 100%;
  --img-height: 300px;
  --img-max-width: 350px;
  --img-border-radius: 10px;
}

/* CSS  */

body {
  font-family: sans-serif;
  background: var(--body-background);
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: var(--padding-large);
  background-color: var(--header-primary);
  color: var(--header-text);
  border-bottom: 
    var(--header-border-size)
    solid 
    var(--header-secondary);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 
    calc(var(--padding-small) + 10px) 
    var(--padding-small);
}

.gallery img {
  width: var(--img-width);
  max-width: var(--img-max-width);
  height: var(--img-height);
  object-fit: cover;
  border-radius: var(--img-border-radius);
}

.gallery::after {
  content: "";
  width: var(--img-max-width);
}
